@media screen and (max-width : 1000px) {
    .product-card-sdd{
        flex-direction: column;
        height: 700px;
        width: 90vw;
        align-items: center;
    }

    .product-cardd img{
        max-width: 88vw;
    }
    .product-card-sdd img{
        max-width: 70vw;
    }
}

@media screen and (max-width: 670px) {
    .product-cardd img{
        max-width: auto;
    }
    .product-card-sdd img{
        max-width: 70vw;
    }
}

@media screen and (max-width : 427px) {
    .flex h4{
        font-size: 11px;
    }
    .flex p{
        font-size: 11px;
    }
}